.comment {
  width: 95%;
  height: fit-content;
  /* overflow-y: scroll; */
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  padding-left: 5px;
  margin-top: 20px;

  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.time-display {
  margin-left: 5%;
}

.parent-comment {
  width: 95%
}

.reply-comment {
  margin-left: 8%;
  width: 87%;
}

.reply-input {
  width: 50%;
}

.comment {
  display: flex;
  flex-direction: row;
}

.flag-button {
  margin-left: 2%;
}

.right {
  display: inline-flex;
  justify-content: flex-end;
  align-self: flex-start;
}

.show-reply-button {
  margin-left: 5%;
  opacity: 80%;
  font-size: 0.8rem;
}