.dropdownForm {
    margin : auto;
    width : inherit;
    max-width: inherit;
    height : fit-content;
    border-radius: 2.5rem;
    background-color: rgb(196, 238, 223);
    padding : 3rem;
}

#backBtn {
    margin-bottom: 1rem;
}

.btn {
    border : none;
    outline : none;
    border-radius: 1.5rem;
    padding : 0.5rem;
    margin: 0.3rem;
    box-shadow: 1px 1px 7px 1px;
}
.btn:hover {
    cursor : pointer;
    filter: brightness(90%);
}