html {
  font-size: 100%;
}
@media (max-width: 1310px) {
  html {
      font-size: 85%;
  }
}
@media (max-width: 1160px) {
  html {
      font-size: 75%;
  }
}
@media (max-width: 1050px) {
  html {
      font-size: 70%;
  }
}
@media (max-width: 768px) {
  html {
      font-size: 65%;
  }
}
@media (max-width: 600px) {
  html {
      font-size: 60%;
  }
} 

a, a:visited{
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#navbar {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#main-content {
  height: 100vh;
  width: 100%;

  padding-top: 75px;

  display: flex;
  flex-direction: column;
  align-items: center;
}